/*Change the .careers-page 'file upload el ID' to the forrect file upload ID*/

#upload-section {
    background: transparent;
    border: solid white 1px !important;
    border-radius: 0;
    max-width: 100%;
    width: 100%;
    margin: auto;
    padding: 4px 15px;
    text-align: center;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-family: 'Lato';
    font-size: 16px;
    text-align: left;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.careers-page FILE-UPLOAD-EL-ID {
    padding: 10px 40px;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 600px;
    width: 100%;
    z-index: 10;
    cursor: pointer;
}

#upload-section {
    display: flex;
    justify-content: space-between;
}

.upload-box { /*This is the upload button on the right that says "Select Files" */
    background-image: linear-gradient(to right, #FF4959 0%, #FFC21D 100%);
    border-radius: 20px;
    color: white;
    padding: 2px 20px;
}